body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #eee;
  min-height: 100vh;
}

.exam-list-wrap {
   display: flex;
   flex-direction: column;
  align-items: center;
  padding: 20px;
}

.exam-list {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%;
  /* max-width: 800px; */
  padding: 20px;
}

.title {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.exam-item {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px;
}

.exam-item h3 {
  margin: 0;
  font-size: 20px;
}

.exam-item p {
  margin: 10px 0;
  font-size: 16px;
}

.start-exam-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3f5efb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.start-exam-btn:hover {
  background-color: #324bc9;
}

.error {
  color: red;
  background-color: #fdd;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  width: 300px;
  height: 50px;
  margin: 0 auto;
}
.delete-exam-btn{
  background-color: red;
  color: #fdd;
  border: 1px solid red;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  margin-left: 20px ;
  cursor: pointer;
}

.edit-exam-btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
